<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="NetCoreControls" value="https://www.myget.org/F/netcorecontrols/api/v3/index.json" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <disabledPackageSources>
    <add key="AspNetCiDev" value="true" />
    <add key="aspnetvnext" value="true" />
  </disabledPackageSources>
  <activePackageSource>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </activePackageSource>
</configuration>