.nccGridPagerContainer {
    text-align: center;
}

.nccGridPagerContainer .nccGridPagerPagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.nccGridPagerContainer .nccGridPagerPagination li {
    display: inline;
}

.nccGridPagerContainer .nccGridPagerPagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}
.nccGridPagerContainer .nccGridPagerPagination li a.disabled {
    background-color: #ddd;
    cursor: default;
}


.nccGridPagerContainer .nccGridPagerPagination li a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.nccGridPagerContainer .nccGridPagerPagination li a:hover:not(.active) {
    background-color: #ddd;
}

